In [10]:
import pandas as pd
pd.read_csv('https://www.dropbox.com/s/5f0uvdn1h9j1fgo/DM_CURSO.CSV?dl=1', sep='|', encoding='latin1')

,NU_ANO_CENSO,CO_IES,TP_CATEGORIA_ADMINISTRATIVA,TP_ORGANIZACAO_ACADEMICA,CO_LOCAL_OFERTA,CO_UF,CO_MUNICIPIO,IN_CAPITAL,CO_CURSO,NO_CURSO,...,QT_VAGAS_ANUAL_MATUTINO,QT_VAGAS_ANUAL_VESPERTINO,QT_VAGAS_ANUAL_NOTURNO,QT_VAGAS_ANUAL_EAD,QT_MATRICULA_TOTAL,QT_CONCLUINTE_TOTAL,QT_INGRESSO_TOTAL,QT_INGRESSO_VAGA_NOVA,QT_INGRESSO_PROCESSO_SELETIVO,QT_VAGA_TOTAL
0,2017,789,1,1,1033528.0,14.0,1400100.0,1.0,1259131,MÚSICA,...,NaN,NaN,NaN,NaN,131,5,40,40,NaN,50
1,2017,4567,5,3,659871.0,51.0,5107925.0,0.0,1258115,GESTÃO DE RECURSOS HUMANOS,...,NaN,NaN,NaN,NaN,12,0,4,3,NaN,95
2,2017,2341,4,3,131728.0,35.0,3510609.0,0.0,68433,DIREITO,...,NaN,NaN,NaN,NaN,247,71,51,46,NaN,240
3,2017,670,5,1,1786.0,35.0,3509502.0,0.0,52052,ENGENHARIA ELÉTRICA,...,NaN,NaN,NaN,NaN,172,26,35,33,NaN,191
4,2017,403,5,1,657876.0,53.0,5300108.0,1.0,18061,DIREITO,...,NaN,NaN,NaN,NaN,1966,450,223,179,NaN,840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2017,910,5,3,658812.0,35.0,3530805.0,0.0,1352535,ENGENHARIA DE PRODUÇÃO,...,NaN,NaN,NaN,NaN,25,0,31,31,NaN,100
996,2017,57,2,1,657707.0,41.0,4115200.0,0.0,99370,CIÊNCIAS BIOLÓGICAS,...,NaN,NaN,NaN,NaN,172,21,38,38,NaN,63
997,2017,1702,4,2,1039741.0,14.0,1400100.0,1.0,46564,ADMINISTRAÇÃO,...,NaN,NaN,NaN,NaN,357,61,123,106,NaN,1036
998,2017,13,5,1,1003692.0,43.0,4305108.0,0.0,41669,GESTÃO DE MICRO E PEQUENAS EMPRESAS,...,NaN,NaN,NaN,NaN,0,0,0,0,NaN,0
999,2017,671,4,1,NaN,NaN,NaN,NaN,1382663,SOCIOLOGIA,...,NaN,NaN,NaN,NaN,49,0,304,296,NaN,304